# [2023](https://adventofcode.com/2023)

## Calendar

{% if calendar -%}
```click
{{- calendar -}}
```
{%- endif %}

---

## Poem & Art

The time has come once again
to try my hand at this holiday tradition

I have walked these paths before
and I have failed time and time again

But this time will be different
well probably not

But I will try
and I will fail

and I will have fun doing it

Yours in codetry,
thalida

```
                                           ░░░░
                                           ░░░░
                                         ░░░░░░░░
                                       ░░░░    ░░░░
                                     ░░░░░░    ░░░░░░
                 ▒▒░░              ░░░░░░        ░░░░░░              ░░▒▒
                 ░░░░░░░░            ░░░░        ░░░░            ░░░░░░░░
                   ░░░░░░░░░░░░        ░░░░    ░░░░        ░░░░░░░░░░░░
                   ░░░░    ░░░░░░░░░░  ░░░░░░░░░░░░  ░░░░░░░░░░    ░░░░
                     ░░        ░░░░░░    ░░░░░░░░    ░░░░░░        ░░
                     ░░░░  ░░            ░░░░░░░░            ░░  ░░░░
                     ░░░░    ░░░░      ░░░░░░░░░░░░      ░░░░    ░░░░
                       ░░░░  ░░  ░░░░  ░░░░    ░░░░  ░░░░  ░░  ░░░░
                       ░░░░    ░░  ░░    ░░░░░░░░    ░░  ░░    ░░░░
                 ░░    ░░░░    ░░░░  ░░  ░░░░░░░░  ░░  ░░░░    ░░░░    ░░
               ░░░░░░              ░░░░    ░░░░    ░░░░              ░░░░░░
             ░░░░░░░░░░░░    ░░░░          ░░░░          ░░░░    ░░░░░░░░░░░░
         ░░░░░░░░    ░░░░░░░░░░▒▒░░░░      ░░░░      ░░░░░░░░░░░░░░░░    ░░░░░░
     ░░░░░░░░          ░░░░░░░░  ░░░░░░░░░░    ░░░░░░░░░░  ░░░░░░░░          ░░░░░░
     ░░░░░░░░          ░░░░░░░░  ░░░░░░░░░░    ░░░░░░░░░░  ░░░░░░░░          ░░░░░░
         ░░░░░░░░    ░░░░░░░░░░░░░░░░      ░░░░      ░░░░░░░░░░░░░░░░    ░░░░░░
             ░░░░░░░░░░░░    ░░░░          ░░░░          ░░░░    ░░░░░░░░░░░░
               ░░░░░░              ▒▒▒▒    ░░░░    ░░░░              ░░░░░░
                 ░░    ░░░░    ░░░░  ░░  ░░░░░░░░  ░░  ░░░░    ░░░░    ░░
                       ░░░░    ░░  ░░    ░░░░░░░░    ░░  ░░    ░░░░
                       ░░░░  ░░  ░░░░  ▒▒░░    ░░░░  ░░░░  ░░  ░░░░
                     ░░░░    ░░░░      ░░░░░░░░░░░░      ░░░░    ░░░░
                     ░░░░  ░░            ░░░░░░░░            ░░  ░░░░
                     ░░        ░░░░░░    ░░░░░░░░    ░░░░░░        ░░
                   ░░░░    ░░░░░░░░░░  ░░░░░░░░░░░░  ░░░░░░░░░░    ░░░░
                   ░░░░░░░░░░░░        ░░░░    ░░░░        ░░░░░░░░░░░░
                 ░░░░░░░░            ░░░░        ░░░░            ░░░░░░░░
                 ░░░░              ░░░░░░        ░░░░░░              ░░░░
                                     ░░░░░░    ░░░░░░
                                       ░░░░    ░░░░
                                         ░░░░░░░░
                                         ░░░░░░░░
                                           ░░░░
                                           ░░░░
                                             ░░
```


```
-----------------------------------------------------------------
This ASCII snowflake can be found at https://textart.sh/
-----------------------------------------------------------------
```

---


<details>
  <summary><h2>start</h2></summary>

  ```
  start [day] [part]
  ```

  ### Arguments
  | Argument | Description |
  | --- | --- |
  | `day` | The day folder to watch. |
  | `part` | The part file to watch. |

  ## Examples
  ```sh
  start 10 1
  ```
  Runs and watches the day 10 part 1 python script.


  ### Commands
  | Command | Arguments | Description |
  | --- | --- | --- |
  | `--help` | | Show help message and exit. |
  | `day`/`d` | `day` | Create a new day folder. |
  | `day-readme`/`dr` | `--day`/`-d`, `--filepath`/`-f` | Create a new day README.md file. |
  | `calendar`/`c` | `--filepath`/`-f` | Create update the year README.md progress calendar. |

</details>

<details>
  <summary><h2>make.py</h2></summary>

  ### Help
  ```sh
  python make.py --help
  ```

  ### Commands
  | Command | Arguments | Description |
  | --- | --- | --- |
  | `--help` | | Show help message and exit. |
  | `day`/`d` | `day` | Create a new day folder. |
  | `day-readme`/`dr` | `--day`/`-d`, `--filepath`/`-f` | Create a new day README.md file. |
  | `calendar`/`c` | `--filepath`/`-f` | Create update the year README.md progress calendar. |

</details>
